draw-things-community/WORKSPACE
draw-things-community/bazel-out/
draw-things-community/bazel-draw-things-community/
draw-things-community/bazel-bin/
draw-things-community/bazel-testlogs/
draw-things-community/**
.claude/
**/.claude
**.safetensors
**.ckpt
!references/dt-sqlite-example.ckpt
sample-models/
test-outdir/
__pycache__/
.env
.envrc
.DS_Store
.mypy_cache/
.ruff_cache/
tmp-out/
